/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    margin: 0;
}

/* Cabeçalho */
header {
    background-color: #111;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

/* Navegação */
nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero {
    background-image: url('https://koenigseggdev.blob.core.windows.net/drupal/styles/1920x1400/azure/2022-03/Koenigsegg%20Jesko%20Absolut%20Header%20V3.png?h=6ca15b42&itok=gnzttTIF');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

/* Container Principal */
.container {
    padding: 20px;
}

.container h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

/* Galeria de Carros */
.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery img {
    width: 300px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

/* Seção Sobre */
.about {
    background-color: #222;
    color: white;
    padding: 40px;
    text-align: center;
}

.about h2 {
    font-size: 36px;
}

.about p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
}

/* Rodapé */
footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}
